<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width" />

        <!-- Metadata. -->
        <meta name="keywords" content="João Pizani,joaopizani,haskell,blog,vim,homepage"/>
        <meta name="description" content="Personal home page of João Pizani."/>

        <!-- Stylesheets. -->
        <link rel="stylesheet" type="text/css" href="/css/jvdj/base.css" />
        <link rel="stylesheet" type="text/css" href="/css/jvdj/layout.css" />
        <link rel="stylesheet" type="text/css" href="/css/syntax-solarized-light.css" />

        <title>Pauca sed matura - $title$</title>
    </head>

    <body>
        <div id="navigation">
            <h1>$tr languages$</h1>
            <a href="http://www.languageicon.org" target="_blank">
                <img src="/files/imgs/style/language-select.png">
            </a>
            $if(en)$<a href="/$en$.html">EN</a>$endif$
            $if(pt)$<a href="/$pt$.html">PT</a>$endif$
            $if(de)$<a href="/$de$.html">DE</a>$endif$

            <h1>$tr content$</h1>
            <a href="$tr homeLink$">$tr home$</a>
            <a href="$tr aboutLink$">$tr about$</a>
            <a href="$tr archiveLink$">$tr archive$</a>
        </div>

        <div id="content">
            <h1>$title$</h1>

            $body$

            <div style="clear: both"></div>
            <div id="footer">
                $tr hakyllCR$ <a href="http://jaspervdj.be/hakyll">Hakyll</a>
            </div>
        </div>

    </body>

</html>
